<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
  <body>
    <h1>Edit Menu Item</h1>

    <form action="{{ url_for('editMenuItem', restaurantId = item.restaurant_id, menu_id = item.id) }}" method="post">
      <dl>
        <dt>Name:</dt>
        <dd>
          <input type="text" size='30' name='name' placeholder="{{item.name}}"/>
        </dd>
      </br>
        <dt>Description:</dt>
        <dd>
          <textarea size='30' rows="5" cols="40" name='description' placeholder="{{item.description}}"></textarea>
        </dd>
      </br>
        <dt>Price:</dt>
        <dd>
          <input type="text" size='8' name='price' placeholder="{{item.price}}"/>
        </dd>
      </br>
        <dt>Course:</dt>

        {% if item.course == 'Appetizier' %}
      		<dd><input type ='radio' name='course' value='Appetizer'checked >Appetizer</dd>
      	{%else%}
      	  <dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>
        {% endif %}

        {% if item.course == 'Entree' %}
          <dd><input type ='radio' name='course' value='Entree' checked>Entree</dd>
        {%else%}
      		<dd><input type ='radio' name='course' value='Entree'>Entree</dd>
        {% endif %}

      	{% if item.course == 'Dessert'%}
      		<dd><input type ='radio' name='course' value='Dessert'checked >Dessert</dd>
      	{% else %}
      	  <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
      	{% endif %}

      	{%if item.course =='Beverage'%}
      		<dd><input type ='radio' name='course' value='Beverage'checked >Beverage</dd>
      	{% else %}
      		<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
      	{% endif %}
      </dl>

      <input type="submit" value="Edit"/>
      <a href="{{url_for('restaurantMenu', restaurantId = item.restaurant_id)}}">Cancel</a>
    </form>
  </body>
</html>
