<html>
<body>
  <h1>{{ restaurant.name }}</h1>

  </br>
  <a href='{{url_for('newMenuItem', restaurantId = restaurant.id)}}'>Create new Menu Item</a>

  </br>
  </br>
  {% for item in items %}

    {{ item.name }}
  </br>

    {{ item.description }}
  </br>

    {{ item.price }}

  </br>
    <a href='{{url_for('editMenuItem', restaurantId = restaurant.id, menu_id = item.id) }}'>Edit</a>
  </br>
    <a href='{{url_for('deleteMenuItem', restaurantId = restaurant.id, menu_id = item.id) }}'>Delete</a>
  </br>
  </br>
  {% endfor %}

</body>
</html>
